@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700;900&display=swap");
@import "reset.css";
@import "12.16/tylerbox.css";
@import "12.16/shuffle.css";
@import "12.16/musicbox.css";
@import "12.16/playbox.css";
@import "12.16/bigimg.css";
@import "12.16/playingscroll.css";
@import "12.16/playcontroller.css";

* {
  box-sizing: border-box;
}
body {
  background-color: rgb(231, 231, 231);
  font-family: "Nunito", sans-serif;
}
main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 1024px;
}
.bigbox {
  box-sizing: border-box;
  width: 40vw;
  height: 850px;
  background-color: white;
  border-radius: 40px;
}

.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px 15px 30px;
}

.left {
  position: relative;
}
