.FAQ-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 20px;
}
.FAQ-header-box {
  display: flex;
  align-items: center;
  font-size: 30px;
}
.FAQ-header h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}
.FAQ-header h2 {
  color: gray;
  margin-right: 10px;
}
.FAQ-header h4 {
  margin-bottom: 10px;
  font-size: 20px;
  color: gray;
}

.FAQ-main {
  width: 100%;
  height: 917px;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FAQ-search {
  width: 800px;
  text-align: end;
  font-size: 20px;
  margin: 30px 0px;
  color: var(--b-color);
  cursor: pointer;
}

.FAQ-box {
  display: flex;
  width: 950px;
  height: 80px;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 15px;
  padding: 15px 40px;
  font-size: 22px;
  color: var(--b-color);
  font-weight: bold;
  box-shadow: 0px 2px 3px 1px rgb(0, 0, 0, 0.5);
  margin-bottom: 50px;
  transition: color 0.5s ease-in-out;
}

.FAQ-box i {
  display: flex;
  justify-content: start;
  width: 5%;
}
.FAQ-box span {
  display: flex;
  justify-content: start;
  width: 30%;
}
.FAQ-box h3 {
  display: flex;
  justify-content: start;
  width: 65%;
  color: black;
  transition: color 0.35s ease-in-out;
}
.FAQ-box:hover h3 {
  background-color: var(--b-color);
  color: white;
}

.FAQ-box:hover {
  background-color: var(--b-color);
  color: white;
}
