.reviews-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 20px;
}
.reviews-header h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}

.reviews-header h4 {
  margin-bottom: 10px;
  font-size: 20px;
  color: gray;
}

.reviews-header__selector {
  margin-top: 20px;
}
.reviews-header__selector span {
  display: inline-block;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: rgb(231, 231, 231);
  cursor: pointer;
  font-weight: bold;
}

.reviews-header__selector span:first-child {
  background-color: rgba(127, 255, 212, 0.795);
  color: rgb(0, 197, 131);
}

.reviews-main {
  width: 100%;
  height: 880px;
  background-color: #f9fafb;
  display: flex;
  align-items: center;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: flex-start;
}

.reviews-box {
  display: flex;
  width: 1000px;
  height: 200px;
  background-color: white;
  padding: 20px 20px;
  margin-top: 20px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 20px;
}

.reviews-column:first-child {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.reviews-column i {
  font-size: 60px;
  margin-bottom: 20px;
}

.reviews-column span {
  font-size: 15px;
  font-weight: bold;
  color: #3b8cf8;
  margin-bottom: 20px;
  text-decoration-line: underline;
  cursor: pointer;
}
.reviews-column h6 {
  color: rgba(0, 0, 0, 0.5);
}

.reviews-review {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
.reviews-review span {
  font-size: 20px;
  font-weight: 400;
}
.reviews-review__go {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--b-color);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.reviews-review__go h5 {
  border-bottom: 1px solid var(--b-color);
}
.reviews-review__go i {
  font-size: 15px;
  margin-left: 2px;
}
