.nav-bar {
  display: flex;
  width: 1300px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
  position: fixed;
  background-color: white;
  z-index: 99;
}
.nav-bar ul {
  display: flex;
  align-items: center;
}
.nav-bar img {
  width: 50px;
  height: 40px;
}

.nav-bar li {
  float: left;
  width: 120px;
  height: 100%;
}

.nav-bar .nav-font-nomal {
  color: gray;
  text-decoration-line: none;
}

.nav-bar-user {
  display: flex;
  align-items: center;
  width: 200px;
}
.nav-bar-user a,
.nav-bar-user span {
  width: 100px;
  padding: 10px 30px;
  border-radius: 10px;
}

.nav-bar-login {
  color: gray;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
}
.nav-bar-join {
  background-color: #3b82f6;
  color: white;
}

.nav-bar-user span:hover {
  filter: contrast(80%);
  cursor: pointer;
}

.nav-font-bold {
  font-size: 22px;
  font-weight: bold;
  color: black;
  text-decoration-line: none;
}
.nav-img-big img {
  animation: navani2 1s ease infinite;
}

@keyframes navani {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.nav-ani-delay {
  animation: navani 1s ease forwards;
  opacity: 0;
}

.nav-ani-delay:nth-child(2) {
  animation-delay: 0.5s;
}

.nav-ani-delay:nth-child(3) {
  animation-delay: 1s;
}

.nav-ani-delay:nth-child(4) {
  animation-delay: 1.5s;
}
.nav-ani-delay:nth-child(5) {
  animation-delay: 2s;
}

@keyframes navani2 {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: none;
  }
}

.nav-font-nomal:hover {
  font-size: 22px;
  font-weight: bold;
  color: var(--b-color);
  text-decoration-line: none;
}

.nav-img-nomal:hover img {
  animation: navani2 1s ease infinite;
}

.nav-bar-user a {
  text-decoration-line: none;
}
